In [3]:
import pandas as pd

In [4]:
purchase_1 = pd.Series({'Name': 'Winfred',
                        'Interest': 'PC Building',
                        'Cost': 1300.99})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Interest': 'Kitty Litter',
                        'Cost': 220.40})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Interest': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ['Person 1', 'Person 2', 'Person 3'])
df.head()

             Name      Interest     Cost
Person 1  Winfred   PC Building  1300.99
Person 2    Kevyn  Kitty Litter   220.40
Person 3    Vinod     Bird Seed     5.00

In [5]:
df.loc['Person 1']

Name            Winfred
Interest    PC Building
Cost            1300.99
Name: Person 1, dtype: object